.profile__add-btn {
  background-color: transparent;
  height: 50px;
  display: flex;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  width: 282px;
  margin: 0 auto;
  padding: 0;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  object-fit: cover;
  background-position: center;
}

.profile__add-btn:hover {
  opacity: .6;
}

@media screen and (min-width: 1024px) {
  .profile__add-btn {
    width: 150px;
    margin-top: 32px;
  }
}
