.profile {
  margin: 40px auto 0;
  width: calc(100% - 38px);
  display: grid;
  grid-template-rows: repeat(2, max-content);
}

@media screen and (min-width: 768px) {
  .profile {
    width: calc(100% - 100px);
    margin-top: 36px;
  }
}

@media screen and (min-width: 1024px) {
  .profile {
    width: calc(100% - 200px);
    grid-template-columns: calc(100% - 150px) 150px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1080px) {
  .profile {
    max-width: 880px;
  }
}
