.header {
  width: 100%;
  padding-top: 28px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding-bottom: 31.6px;
}

@media screen and (min-width: 768px) {
  .header {
    width: calc(100% - 100px);
    margin: 0 auto;
    padding-top: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    width: calc(100% - 200px);
    padding-bottom: 41px;
  }
}

@media screen and (min-width: 1080px) {
  .header {
    max-width: 880px;
  }
}
