.place-element__delete {
  width: 19px;
  height: 18px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/Vector.svg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  object-fit: cover;
  background-position: center;
  border: none;
  background-color: transparent;
}

.place-element__delete:hover {
  opacity: .6;
}
