.header__container {
  width: 100%;
  padding-top: 28px;
}

@media screen and (min-width: 768px) {
  .header__container {
    width: calc(100% - 100px);
    margin: 0 auto;
    padding-top: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .header__container {
    width: calc(100% - 200px);
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    width: calc(100% - 400px);
  }
}
